body{
background-color: gray;
}

header {
background-color: #3366ff;
color: black;
margin: 0px;
text-align: center;
}

heading{
	text-align: center;
}
.link{
	float: left;
	width: 18%;
	border: 2px solid dimgray;
	box-sizing: border-box;
	background-color: aqua; 
	margin: 0px 4px 4px 4px;
}

.clr{
	clear: both;  <!-- TO CLEAR FLOAT  -->
}
a{
	text-decoration: none;
	color: black;
a:visited{
	color: black;
}
}
a:hover{
	color:red;
}

.nav{
width: 12%;
float: right;
border: 4px dimgray solid;
margin: 10px;
padding: 10px;
}

.container{
background-color: F0FFFF;
width: 100%;
margin-left: auto;
margin-right: auto;
}


.nav ul{
list-style-type: none;
padding: 0px;
margin: 0px 0px 0px 2px;
}

.main {
width: 70%;
float: left;
margin: auto;
padding-top: auto;
margin-left: 50px;   <!-- LOOK FOR THE MARGIN-MIN -->
min-width:
text-sie: 20px;
}

footer {
clear: both;
padding: 10px;
background-color: #D3D3D3;
text-align: right;
position: relative;
top: 500px;
}